html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#content {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items:stretch;
}
#banner {
    height: 100px;
    text-align: center;
    background-color: red;
    flex: 1 1 auto;
}
#servicesContainer {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tan;
}
#leftServiceMargin {
    text-align: center;
}
#menuPicDiv {
    background-image: url('./menuPicture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    width: 533px;
    flex: 2 1 auto;
}
#rightServiceMargin {
    text-align: center;
}
#footer {
    flex: 1 1 auto;
    background-color: red;
    text-align: center;
}